{% extends '::base.html.twig' %}

{% block body -%}
    <h1>RecoleccionBasura </h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('recoleccionbasura') }}">
            Volver a la Lista
        </a>
    </li>
</ul>
{% endblock %}
