{% extends '::base.html.twig' %}

{% block body -%}
  
    <h1 class="page-header, fi-torsos-all-female">Agregar Habitantes</h1>
    <ul class="record_actions"></ul>
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Agregar Habitantes
            </div>
            <div class="panel-body">
       
    {{ form(form) }}
    
    
    <br> 
    <br>
    <br>
    <a class="col-md-12 btn btn-primary" href="{{ path('habitantes') }}">Volver a la Lista </a>
    </div>
 </div>
  
{% endblock %}
